<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER</title>



<% if(active == true) { %>
   <script>
     window.location.href = "/";
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);

    };
</script>
<%  } %>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .wrapper {
        width: 400px;
        margin: 30px auto;
        border: 2px gray solid;
        border-radius: 5px;
        text-align: center;
      }

      .wrapper2 {
        width: 400px;
        margin: 30px auto;
        border: 2px gray solid;
        border-radius: 5px;
        text-align: center;
      }

      .form-input {
        display: block;
        margin: 15px 10px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>Register</h1>
      <form action="/user/register" method="post">
        <input
          type="text"
          class="form-input"
          name="username"
          placeholder="Enter Username"
        />
        <input
          type="text"
          class="form-input"
          name="password"
          placeholder="Enter password"
        />

        <button type="submit" class="form-input">Submit</button>
      </form>
    </div>

    <div class="wrapper2">
      <h3><%= warning %></h3>

      <h1>LOGIN</h1>

      <form action="/user/login" method="post">
        <input
          type="text"
          class="form-input"
          name="username"
          placeholder="Enter Username"
        />
        <input
          type="text"
          class="form-input"
          name="password"
          placeholder="Enter password"
        />

        <button type="submit" class="form-input">Login</button>
      </form>
    </div>
  </body>
</html>
